.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
